<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration核心配置文件-->
<configuration>
<!--引入外部配置文件    -->
    <properties resource="db.properties">
        <property name="username" value="root"/>
        <property name="pwd" value="123456"/>
    </properties>
    <settings>
<!--标准日志工厂的实现-->
<!--    <setting name="logImpl" value="STDOUT_LOGGING"/>-->
<!-- 配置lOG4J为日志的实现  -->
        <setting name="logImpl" value="LOG4J"/>
</settings>
    <typeAliases>
        <package name="com.kuang.poro"/>
    </typeAliases>
    <environments default="test">
        <environment id="test">
            <!--       事务管理     -->   <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
<!--jdbc:mysql 是协议，一个是主协议（jdbc）一个是子协议（mysql） -->
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${pwd}"/>
            </dataSource>
        </environment>
       <!--<environment id="test">
           <transactionManager type="JDBC"/>
           <dataSource type="POOLED">
               <property name="driver" value="${driver}"/>
               <property name="url" value="${url}"/>
               <property name="username" value="${username}"/>
               <property name="password" value="${password}"/>
           </dataSource>
       </environment>-->
    </environments>
    <mappers>
<!--        <mapper resource="com/kuang/dao/TeacherMapper.xml"></mapper>-->
<!--        <mapper resource="com/kuang/dao/StudentMapper.xml"></mapper>-->
        <mapper class="com.kuang.dao.TeacherMapper"></mapper>
        <mapper class="com.kuang.dao.StudentMapper"></mapper>
<!--        <mapper resource="com/kuang/dao/*.xml"></mapper> //此*. 注册方法未成功过-->
<!--                <mapper class="com.kuang.dao.*"></mapper> //此*. 注册方法也未成功过-->
    </mappers>
</configuration>