<?xml version="1.0" encoding="UTF-8" ?>
                <!DOCTYPE mapper
                        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                <!--namespace=绑定对应的Dao/Mapper接口-->
        <mapper namespace="com.kuang.dao.UserMapper">
       <!-- select查询语句-->
            <select id="getUserList" resultType="Hello"> /* 在配置文件中返回结果类型要写它的权限命名,配置文件不像java类，可以去找它的关联,从而导入包*/
                select * from mybatis.user
            </select>
           <select id="getUserById" resultType="com.kuang.poro.User" parameterType="int">
           select * from mybatis.user where id=#{id}
           </select>

           <select id="addUser" parameterType="com.kuang.poro.User" resultType="int">
               insert mybatis.user values(#{id},#{name},#{pwd});/*传参过来的对象中的属性可以直接取出来用*/
           </select>

     <insert id="addUser1" parameterType="com.kuang.poro.User">
        insert mybatis.user values(#{id},#{name},#{pwd});/*传参过来的对象中的属性可以直接取出来用*/
    </insert>



    <update id="updateUser" parameterType="com.kuang.poro.User">
     update mybatis.user set name=#{name},pwd=#{pwd} where id=#{id};
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from mybatis.user where id=#{id};
    </delete>

        </mapper>
      <!--  这个配置文件可以写在任意位置-->

